{% extends 'utils/app_base.html' %}
{% load static %}
{% load stockans_filters_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static 'stockans/css/profile_list.css' %}">
{% endblock %}
{% block content %}
{% result_list_tag cl %}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        var options = {
        url: "{% url 'stockans:update_stockprofile' %}",
        type: "post",
        success: successfun,
        dataType: "json",
        {#timeout: 3000#}
    };
        $('#actions_btn').click(function () {
            $('#actions_list').ajaxForm(options);
        });
        function successfun(data, status) {
            alert(data.update_num + "条数据更新成功！")
        }
    </script>
{% endblock %}